 <div class="cocktail d-flex justify-content-center">
  <div class= "cocktail-display" style="background-image: url('<%= cl_image_path @cocktail.photo.key, height: 500, width: 600, crop: :fill %>')">
    <h1 class="text-center" style="color: white;"><%= @cocktail.name %></h1>
    <div>
      <h3 class="text-center" style="color: white;">Ingredients:</h3>
      <% @cocktail.doses.each do |dose| %> 
        <p class="text-center" style="color: white;">
        <%= dose.description %> of 
        <% @cocktail.ingredients.each do |ingredient| %>
            <%= ingredient.name %>
        <% end %>
      <% end %>

      <%= cl_image_tag @cocktail.photo.key, height: 300 width: 300, crop: :fill %>

      <div class="d-flex justify-content-center">
        <%= link_to "Add a new ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-warning m-3"  %>
      </div>
    </div>  
  </div>
</div>

  
  